@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
/*
 * 1.Posicionamiento: position, top, left, z-index
 * 2.Caja (Box Model): display, width, height, margin, padding, border
 * 3.Tipografía: font, color, text-align, line-height
 * 4.Estilos visuales: background, box-shadow, opacity
 * 5.Animaciones y transformaciones: transition, animation, transform
*/


body{
  
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin:0;
  min-height: 100vh;

  font-family: "Orbitron", sans-serif;

  background:  radial-gradient(circle at 50% 50%, #cef0f06c 0%, #000000 100%);
  background: cover;
}

body h1{
  margin-top: 50px;

  font-size: 3.5rem;
}
h1{
  color: white;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/*INICIO TARJETAS*/
.tarjeta{

  display: flex;
  justify-content: flex-start;  
  align-items: center;
  flex-direction: row;
  gap: 20px;
  border-radius: 10px 0;
  padding: 10px;
  margin: 10px;
  width: 500px;
  height: 200px;

  border:solid 2px #000000;
  background-color: white;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.8));


}
.tarjeta:hover{
  filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.5));
}
img{
  width: 290px;
  height: 200px;
  border-radius: 10px 0;
}
.datos{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.detalle{
  font-family: 'Roboto', sans-serif;

  color: #00000090;
}
/*INICIO DE TARJETA DISTINTA*/
#palacio{
  background-image: url("../images/marte-1jpg.jpg");
  background-size: cover;
}
#palacio .datos{
  width: 270px;
  border-radius: 20px;
  
  background-color: #ffffff95;
}
#palacio .datos .detalle{
  text-align: center;

  color: black;
  
}
#palacio:hover{
  background-color: #FB6D3B;
  
}
/*FIN DE TARJETA DISTINTA*/
/*FIN TARJETAS*/


/*INICIO FOOTER*/
footer{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  color: white;
  background-color: #00000040;
}
footer div{
  padding: 10px;

}
.logo{
  padding: 50px;

  font-size: 2rem;
  
}
.powered{
  margin: 0 10px;

  font-size: 0.9rem;
  
  color: #ffffff90;
}
.powered span{
  margin-right: 10px;
}


/*INICIO SOCIAL MEDIAS*/
.socialMedias{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  font-family: 'Roboto', sans-serif;
  
}
.socialMedias a{

  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:link{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:visited{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:hover{
  color: #cccccc;

  filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.8));

}
.socialMedias div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.socialMedias div i{
  font-size: 1.5rem;
}
#modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  

  background-color: rgba(0,0,0,0.5);

}
/*FIN SOCIAL MEDIAS*/
/*FIN FOOTER*/