@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@font-face {
  font-family: 'SpaceX';
  src: URL("../fonts/spacex/SpaceX.ttf") format('truetype');
  
}
/*
 * 1.Posicionamiento: position, top, left, z-index
 * 2.Caja (Box Model): display, width, height, margin, padding, border
 * 3.Tipografía: font, color, text-align, line-height
 * 4.Estilos visuales: background, box-shadow, opacity
 * 5.Animaciones y transformaciones: transition, animation, transform
*/


body{
  
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin:0;
  min-height: 100vh;

  font-family: 'SpaceX', sans-serif;

  background:  radial-gradient(circle at 50% 50%, #3f3c3c 0%, #000000 100%);
  background: cover;
}
body > h1 {
  display: none;
}
.logo{
  color:white;
}
nav{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  
  background-color: #524f4f90;
}
.menu > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
body h1{
  margin-top: 50px;

  font-size: 2.5rem;
}


h1{
  color: white;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

/*INICIO TARJETAS*/
.tarjeta{

  display: flex;
  justify-content: flex-start;  
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px 0;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 400px;

  border:solid 2px #000000;
  background-color: white;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.8));


}
.tarjeta:hover{
  filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.5));
}
img{
  width: 290px;
  height: 200px;
  border-radius: 10px 0;
}
.datos{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.detalle{
  font-family: 'Roboto', sans-serif;

  color: #00000090;
}
/*INICIO DE TARJETA DISTINTA*/
#palacio{
  background-image: url("../images/marte-1jpg.jpg");
  background-size: cover;
}
#palacio .datos{
  width: 270px;
  border-radius: 20px;
  
  background-color: #ffffff95;
}
#palacio .datos .detalle{
  text-align: center;

  color: black;
  
}
#palacio:hover{
  background-color: #FB6D3B;
  
}
/*FIN DE TARJETA DISTINTA*/
/*FIN TARJETAS*/


/*INICIO FOOTER*/
footer{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  color: white;
  background-color: #00000040;
}
footer div{
  padding: 10px;

}
.logo{
  padding: 50px;

  font-size: 2rem;
  
}
.powered{
  margin: 0 10px;

  font-size: 0.9rem;
  
  color: #ffffff90;
}
.powered span{
  margin-right: 10px;
}


/*INICIO SOCIAL MEDIAS*/
.socialMedias{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  font-family: 'Roboto', sans-serif;
  
}
.socialMedias a{

  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:link{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:visited{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:hover{
  color: #cccccc;

  filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.8));

}
.socialMedias div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.socialMedias div i{
  font-size: 1.5rem;
}
#modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  

  background-color: rgba(0,0,0,0.5);

}
/*SWITCH LIGTH MODE*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(248, 244, 12);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;

  background-image: url("https://cdn-icons-png.flaticon.com/512/4814/4814275.png");
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  #3d3e41;
}

input:checked + .slider::before {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1207/1207558.png");
  background-size: cover;
}
input:focus + .slider {
  box-shadow: 0 0 1px #212224;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*FIN SOCIAL MEDIAS*/
/*FIN FOOTER*/